body{
    font-family: "Lucida Grande", sans-serif;
    background:#000000;
    color: #ffffff;
}

h1{
    font-size: 64px;
    text-align: center
}
      
  
h2{
    font-size: 30px;
    text-shadow: 5px 5px 2px #808080
}

p{
    font-size: 24px;
    padding-top: 20px
}
      
img{
    display: block;
    margin: auto;
    width: 525px
}

#intro{
  min-height: 150px;
  padding: 25px
}
    
#red{
    min-height: 150px;
    padding: 25px;
    background-color: #ff0000;
    text-align: right
}
    
#blue{
    min-height: 150px;
    padding: 25px;
    background-color: #0000ff;
    text-align: left
}

#yellow{
    min-height: 150px;
    padding: 25px;
    background-color:#ffff00;
    text-align: right;
    color: #000000
}

#yellow h2{
    text-shadow:5px 5px 2px #c7e2c7
}
    
#green{
    min-height: 150px;
    padding: 25px;
    background-color: #0B6623;
    text-align:left
}
    

footer{
    padding-right: 10px;
    padding-bottom: 10px;
    text-align:right
    
}
